@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@500&display=swap");
body {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  /* max-width: 1440px; */
}
* {
  padding: 0;
  margin: 0;
  font-family: Raleway;
}
.navlink {
  text-decoration: none;
}
.back {
  background-image: url("./assets/img/Notfound.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mini {
  display: none;
}
.card:hover .mini {
  display: block;
}
